
/******* Defaults ********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

nav,
header,
footer{
    display: block;
}

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/****** Navbar ******/

nav{
    width: 100%;
    margin: 0;
}

nav ul{
    /* background: linear-gradient(rgb(91, 11, 219), rgb(89, 11, 156)) ; */
    overflow: hidden;
    margin: 0px;
    padding: 10px;
}

ul.topnav li{
    list-style: none;
    font-size: large;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    padding: 14px;
    color:rgb(107, 106, 106);
    min-height: 16px;
    text-align: center;
    /* text-transform: uppercase; */
}

ul.topnav li a:hover{
    color: silver;
}

ul.topnav li.dropdownIcon{
    display: none;
}

#section-1-gradient{
    background: linear-gradient(#fff);
}



/* ########### Extra page  ################ */

.extra-body{
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      silver 10px,
      gray 20px,
      rgb(170, 169, 169) 25px
    );
}

.outer-div1{
    height: 80vh;
    width: 100vw;
}

.inner-div1{
    height: 70%;
    width: 25%;
    border-radius: 10px;
    min-width: 300px;
    background: linear-gradient(35deg, #CCFFFF,#FFCCCC );
    margin: auto;
}



/* #########  About section ############# */

#about-body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(black, rgb(80, 80, 80));
}

.about-p{
    font-size: 20px;
    font-style: normal;
    word-spacing: 3px;
    color: rgb(110, 109, 109);
    padding: 40px;
}

#about-header{
    height: 65vh;
    opacity:0.9;
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832__480.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}

.about-navList{
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.about-navList li{
    display: inline-block;
    margin: 20px;
}

.about-navList li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s, border-bottom 5s;
}

.about-navList li a:hover{
    transform: scale(1.5);
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

#myName{
    font-family: sans-serif;
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    color: white;
}

#myName:hover{
    color:#f8e7e7;
}

#social{
    margin-top: 40px;
    text-align: center;
}

#social li{
    display: inline-block;
    margin: 0 20px 20px 0;
}

#social li img{
    height: 20px;
    width: 20px;
    border-radius: 0%;
}

#social li a span{
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
}

#social li img:hover, #social li a span:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

.about-me{
    width: 100%;
    height: auto;
    position: relative;
}

#myImage{
    height: 250px;
    width: 250px;
    margin: auto;
}

#myImage img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: -15vh;
}

#meHead{
    color: rgb(110, 109, 109);
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section:nth-child(2n+1){
    background-color: white;
    height: 70vh;
    border-radius: 20px;
}

section:nth-child(2n){
    background-color: lightgray;
    height: 70vh;
    margin: 20px;
    border-radius: 20px;
}

section:nth-child(2n):hover{
    transform: scale(1.025);
}

footer{
    background-color: rgb(3, 3, 14);
    width: 100%;
    height: 30vh;
}

footer ul li a img{
    margin-top: 50px;
    background-color: whitesmoke;
    height: 20px;
    width: 20px;
}

footer p{
    color: whitesmoke;
    text-align: center;
}

footer button{
    position: relative;
    /* margin-top: 30px; */
}

footer button a img{
    height: 30px;
    width: 30px;
}






/* ********   For  Mobile   ********** */


@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }

    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive{
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
}